body{
  background-color: #333;

  --color : #fff;
  --bg : #333;

  color: #fff;

  margin:0;
  padding:0;

  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

  /* user-select: none; */
}


@media (prefers-color-scheme: light) {
  body {
    background-color: #fff;
    color: #333;
    --color : #333;
    --bg : #fff;
  }
}

#head{
  cursor: pointer;
}

#head:hover{
  text-decoration: underline;

}

#navbar{
  border-bottom: 1px solid var(--color) ;
  padding-bottom: .5em;
}

#navbar>*{
  color: grey;
  font-size: 1.2em;
  cursor: pointer;
}

#navbar>*.active{
  color:var(--color)
}


#game{
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}

h1{
  font-size: 2.5em;
  margin: 0.5em 0;
}

.bigbutton{
  background-color: rgb(187, 65, 0);
  font-size: 1.2em;
  border-radius: 1em;
  color:white;
  font-weight: bold;
  border:unset;
  padding: 1em;
  margin: 1em;
  margin-top: 2em;
  user-select: none;
  transition: 0.1s;
  user-select: none;
}

.bigbutton:active{
  background-color: rgb(255, 100, 0);
  transform: scale(0.95);
}

#button2{
  background-color: green;
}

#sellbutton{
  background-color: grey;;
}

#button2:active{
  background-color: rgb(0, 200, 0);
  transform: scale(0.95);
}

#animals{
  margin:auto;
  margin-top: 1em;
  font-size: 4em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 70vw;
  height: 2em;
}

.animal{
  transition: 0.5s;
  font-size: .5em;
  display: inline;

}

.animal.active.fresh, .animal.fresh{
  transition: .0s;
  font-size: 0.5em;
}

.animal.active{
  transition: .5s;
  font-size: 1em;

  height: 1.4em;
  width:1.4em;

}



.animal.dead{
  transition: .5s;
  font-size: 0;
}

.animal.active.wiggle{
  animation: pop 300ms ease;
}
.animal.active.wiggle2{
  animation: pop 300ms ease;
}
@keyframes pop {
  0%   { transform: scale(1); }
  50%  { transform: scale(1.1); }
  100% { transform: scale(1); }
}


.hidden{
  display: none;
}

div.leaderboard{
  margin-top: 10em;
  width: 100%;
}

p.leaderitem{

  text-align: left;
  font-weight: bold;
  font-size: 1.5em;
  margin:0;
  padding: .5em;
  padding-left: 2em;
  max-width: 100vw;
  white-space: wrap;
  text-wrap:wrap;
  overflow: hidden;

}

.leaderitem:nth-child(even) {
  background-color: rgba(100,100,100, 0.2);
}


.nametag{
  font-size: 1.2em;
  font-weight: bold;
  /* color: #fff; */
  /* background-color: rgba(73, 46, 42, 0.169); */
  padding: .2em;
  border-radius: .5em;
  /* border: 1px solid black; */

}
.nametag:hover{
  /* background-color: rgba(73, 46, 42, 0.169); */
  text-decoration: underline;
}

#chat{
  padding-top: 4em;
  margin-bottom: 6em;
}

#chat_input{
  height: 2em;
  font-size: 1.5em;
  padding: .5em;
  margin:auto;
  border-radius: .5em;
  border: unset;
  position: fixed;
  bottom: 1em;
  width: calc(100vw - 7em);
  left:4em;
}

#gift_button{
  position: fixed;
  font-size: 1.5em;;
  padding:.5em;
  height:2em;
  border-radius: .5em;
  bottom:1em;
  left:.5em;
  width:2em;
  border:unset;
  background-color: transparent;
  border:1px solid gold;
}


.prompt_window{
  position: fixed;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #5d5d5d8a;
}


.prompt_window>div{
  background-color: var(--bg);
  margin:2em;
  padding: 1em;
  border-radius: 1em;
}

.prompt_window>div>*.option{
  font-size: 1.2em;
  margin: 0;
  padding: .1em;

  border:1px solid gold;
  border-radius: .5em;
  cursor: pointer;

  width:fit-content;
  margin:auto;
  margin-bottom: .4em;
  /* text-decoration: underline; */
}

#messages{
  height: 80vh;
  overflow: scroll;
  bottom: 6em;
  /* position: fixed; */
  width: 100vw;
  text-align: center;
}
.msg{
  padding: 0;
  width:100%;
  margin: 0em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.msg.me{
  color: white;
  align-items: flex-end;
}

.msg>p{
  border-radius: 1em;
  margin: 1em;
  padding: .5em 1em;
  width: fit-content;
  text-align: left;
  background-color: rgb(59, 103, 166);

}

.msg.me>p{
  background-color: rgb(76, 171, 71);
}

.session{
  /* width: 100%; */
  text-align: left;
  cursor: pointer;
  /* padding-left: 1em; */
  margin:1em;

  border-bottom: 1px solid var(--color);
}

.session_tag{
  font-weight: bold;
}